.cambio{
  // background-color: $azul;
  color:white;
  input{
    padding: 0.8em;
    border: 1px solid $dorado;
    border-radius: 22px;
    display: block;
    margin: 0.7em 2em;
    width: 200%;
    margin-left: 50%;
  }
  input[type=submit]{
     background: transparent;
     color: white;
     border: 2px solid $dorado;
   }
   input[type=submit]:active{
    background-color: #C29D5C;
    color: white;
   }
  .textForm{
    position: absolute;
    // left: 9%;
    top:22%;
    width: 36%;
    // text-align:justify;
    font-weight: normal;
  }
  h2{
    font-size: 45px;
    font-weight: normal;
    border-bottom: 1px solid #C29D5C;
  }
  p{
    font-size: 25px;
    font-weight: normal;
  }
  form{
    position: absolute;
    left: 36%;
    top: 35%;
    display: block;
  }
  img{
    width: 12%;
    display: block;
    margin: 24em 0 0 auto
  }
}
