.rombo {
  position: absolute;
  width: 48px;
  height: 39px;
  top: 43.5%;

  &--0 {
    right: 56.4%;    
  }

  &--1 {
    right: 38%
    
  }

  &--2 {
    right: 19.6%;
  }

  &--3 {
    right: 1.2%;
  }
}

div.productos{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-left: 11.5%;
  margin-top: -11%;
  // margin-top: 10%;
  .caja {
    width: 177px;
    height: 230px;
    text-align: center;
    background-image: url('../images/marco_tabla.png');
    background-size: 99.7% 97%;

    .caja-inner {      
      height: 100%;
      padding: 0 7%;

      .position-text{
        position: relative;
        top: 17%;
      }

      h2 {        
        margin-bottom: 0%;
        font-size: 23px;
      }

      .separator {
        border-bottom: 1px solid $dorado;
        margin: -2px 15%;        
        height: 4%;
      }
      .separator:active{
        border-bottom: 1px solid white;
      }
      .separator:active ~ p.perm{
        transition:  border-bottom 5s;
      }
      .caja-efect{
        width:103%;
        height:72%;
        position:relative;
        top:7%;
        right:1%;
      }
      .caja-efect:active{
        background-color: #C29D5C;

      }
      .caja-efect:active ~ p.perm{
        transition: color 10s;
      }
    }

    &--0 {
        border-left: 0.1px solid $dorado;
        border-top: 0.1px solid $dorado;
    }

    &--1 {
        border-left: 0.1px solid $dorado;
        border-top: 0.1px solid $dorado;
    }

    &--2 {
        border-left: 0.1px solid $dorado;
        border-top: 0.1px solid $dorado;
        border-right: 0.1px solid $dorado;
    }

    &--3 {
        border-left: 0.1px solid $dorado;
        border-top: 0.1px solid $dorado;
        border-bottom: 0.1px solid $dorado;
    }

    &--4 {
        border-left: 0.1px solid $dorado;
        border-top: 0.1px solid $dorado;
        border-bottom: 0.1px solid $dorado;
    }

    &--5 {
        border: 1px solid $dorado;
    }
  }
}
div.shop-car{
  // border-top: 1px solid $dorado;
  overflow:scroll;
  width: 277px;
  height: 147px;
  position: absolute;
  margin-left: -1%;
  .car-item{
    padding: 6px;
    &:last-child{
      // font-weight: bold;
      // border-top: 1px solid $dorado;
    }
    div{
      display: inline-block;
    }
    div .car-total {
      margin-top:77%;
      border-top:1px solid;
      margin-left: -4%;
      padding:8px;
      width:99%;
    }
  }
  
}
.cleave{
  border: 0;
  background-color: transparent;
}

div.shop-car-resumen{
  overflow:scroll;
  width: 277px;
  height: 180px;
  position: absolute;
  margin-left: -1%;
  .car-item-resumen{
    padding: 6px;
    margin-left:3%;
    font-size: 19px;
    div{
      display: inline-block;
    }
  }
}

.simulacion{
  img{
    width:41%;
    left:48%;
    top:14%;
    position:absolute;
  }
  // button{
  //   border: 1px solid $dorado;
  //   background: transparent;
  //   border-radius: 22px;
  //   padding: 14px;
  //   font-size: 20px;
  //   color: white;
  //   z-index: 9000000;
  //   position: absolute;
  //   top: 80%;
  //   width: 177px;
  // }
  .con-saldo{
    left: 47%;
    display: none;
  }
  .sin-saldo{
    left: 75%;
    display: none;
  }
}
.endCompra{
  position: relative;
  
  h2{
    position: absolute;
    left: 50%;
    top: 23%;
    width: 35%;
    justify-content: flex-end;
    color: white;
    font-size: 28px;
  }
}
