.left{
  background-size: 65%;
  // background: white url($decoration) no-repeat;
  background-position-x: 172px;
  background-position-y: -31px;
  color: $azul;
  margin-left: -30px;
  padding: 15px !important;
  height: 3%;
  button{
    border: 2px solid $dorado;
    background: transparent;
    border-radius: 22px;
    width: 99%;
    padding: 14px;
    margin-top:36%;
    font-size: 20px;
    color: #163048;
  }
  #btnRecargar{
    margin-top: 10%;
  }
  p{
    // margin-top: 34%;
    font-size: 25px;
    width: 103%;
    height:3.6rem;
  }
  h1{
    font-size: 45px;
    font-weight: normal;
    width: 30%;
  }
  h2{
    font-size: 45px;
    font-weight: normal;
    width: 90%;
    border-bottom: 1px solid #C29D5C;
  }
  h3{
    font-size: 28px;
  }
  hr{
    background: #C29D5C;
    height: 1px;
    width: 30%;
    margin-left: -1%;
  }
}
