.registro{
  // background-color: $azul;
  // position: absolute;
  // left: 40%;
  // margin-top: -2%;
  // padding: 20px;
  margin-right: 4%;
  bottom: 17%;
  // position: absolute;
  .form{
    position: absolute;
    bottom: 17%;
  }
  .titleForm{
    font-size: 38px;
    // text-align: center;
    width: 60%;
    margin-left: 45%;
    font-weight: normal;
    border-bottom: 1px solid #C29D5C;
  }
  .titleFormVaso{
    font-size: 33px;
    width: 61%;
    margin-left: 45%;
    margin-bottom: 9%;
  }
  .titleFormV{
    font-size: 47px;
    // text-align: center;
    width: 32%;
    margin-left: -2%;
    font-weight: normal;
    color: #163048;
    margin-top:7%;
  }
  .regVaso{
    margin-bottom: 10%;
  }
  p{
    font-size: 25px;
    color: #152F48;
    width: 32%;
    margin-left: -2%;
  }
  input,button.submit{
    padding: 0.8em;
    border: 1px solid $dorado;
    border-radius: 22px;
    display: block;
    margin: 1em;
    width: 58%;
    margin-left: 46%;
  }
  button.submit{
    border: 2px solid $dorado;
    width:30%;
  }
  button.submit:active{
    background-color: #C29D5C;
    color: white;
  }
  button.submit:active ~ p.perm{
    transition:  background-color 5s;
  }
  h2,button.submit{
    background: transparent;
    color: white;
  }
  img{
      width: 19%;
      margin-top: 51%;
     
    }
  img #logoRegVaso{
      margin-top: 18%;
  }
  .terminos{
    position: absolute;
    left: 77%;
    top:76%;
    color:white;
    input{
      margin-left:109%;
      margin-top:-30%;
    }
  } 
}
