.right{
  // background-color: $azul;
  color: white;
  // display: flex;
  align-items: center;
  justify-content: center;

  input{
    padding: 0.8em;
    border: 1px solid $dorado;
    border-radius: 22px;
    display: block;
    width: 58%;
    margin-left: 46%;
    margin-bottom:2rem;
    margin-top:3%;
  }
  label{
    color: white;
    margin-left:47%;
    font-size:21px;
  }
  button{
    border: 2px solid $dorado;
    background: transparent;
    border-radius: 22px;
    width: 30%;
    padding: 14px;
    font-size: 20px;
    color: #163048;
  }
  h2,button.submit{
    background: transparent;
    color: white;
    font-weight: normal;
  }
}
