ul{
  list-style: none;
  .menu-item {
    color: #4e4a46;
    text-decoration: none;

    &:hover,
    &:focus {
      // color: #c94e50;
    }
  }
}


//
// Burger menu custom styles
//
.bm-menu-wrap{
  top:0px;
  width: 38% !important;
}


.bm-overlay{
  top: 0px;
  max-height: 650px;
}

.bm-burger-button {
  position: fixed;
  width: 99px;
  height: 58px;
  left: 29px;
  top: 56px;
  background-image: url('../images/03_boton_menu.png');
  background-size: 52px;
  background-repeat:no-repeat;
  background-position:center;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #C29D5B;
  height: 10% !important;
  display: none;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  max-height: 650px;
  max-width: 962px;
  background: white;
  background-image: url(../images/decoration-menu.png);
  background-size: 52%;
  background-repeat: no-repeat;
  background-position-x: 270px;
  background-position-y: -95px;
  overflow: hidden !important;
;

  a {
    color: #3C5266;
    font-size: 23px;

    &:hover,
    &:focus {
      // |
    }
  }
}

.bm-item{
  margin-top: 12%;
}

.bm-item-list ul li {
  padding: 22px;
  margin-top: 28px;
  margin-left: 46px;
  width: 73%;
  font-size: 26px;
  background-image: url(../images/02_boton_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  justify-content: center;
}
span {
  margin-right: 39px;
  color: #152F47;
  font-weight: normal;
  display: block;
}

.bm-item:focus {
  outline: none;
}

.bm-item:focus {
  outline: none;
}

//
// Mixins
//
.menu-1 {
  .bm-cross {
    background: #bdc3c7;
  }

  .bm-menu {
    padding: 2.3em 1.5em 0;
    font-size: 1.15em;
    overflow: hidden !important;
    width: 300px;
  }
}

.menu-2 {
  .bm-cross {
    background: #999;
  }

  .bm-menu {
    padding: 3.4em 1em 0;
  }

  a {
    padding: 1em;
  }

  i {
    font-size: 1.7em;
    vertical-align: middle;
    color: #282a35;
  }
}

.menu-3 {
  .bm-cross {
    background: #888;
  }

  .bm-menu {
    padding: 2em 1em;
    font-size: 1.15em;
  }

  i {
    opacity: 0.5;
  }

  span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
  }
}
.circle{
  border: 1px solid;
}

.menu-4 {
  .bm-cross {
    background: #888;
  }

  h2 {
    margin: 0 auto;
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);

    i {
      margin-left: 0.2em;
    }

    span {
      font-size: 1.6em;
      font-weight: normal;
    }
  }

  a {
    padding: 1em;
    text-transform: uppercase;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);

    span {
      letter-spacing: 1px;
      font-weight: normal;
    }

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
      color: #b8b7ad;
    }
  }
}
