@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800);

@font-face {
  font-family: 'MyriadPro-Light';
  font-style: normal;
  font-weight: normal;
  src: local('MyriadPro-Light'),
  url('../fonts/MyriadPro-Light.woff') format('woff'),
}
//Images
$decoration: '../images/decoration-menu.png';
$visaText:'../images/barra_libre_text.png';
$OndaVisaB:'../../assets/images/Onda-Visa-B.gif';
$logoAzul:'../../assets/images/02_logovisa_azul.png';
$marco:'../../assets/images/marco_tabla.png';

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

*{ -webkit-tap-highlight-color: rgba(0,0,0,0); }

:focus { 
  outline: none; 
}

html {
  height: 100%;
  max-height: 650px;
  max-width: 962px;
}

body {
  height: 100%;
  font-family: 'MyriadPro-Light', Arial, sans-serif;
  background-color: white;
  overflow: hidden;
  max-height: 650px;
  max-width: 962px;
  button:active{
    background-color: #C29D5C;
    color: white;
  }
  button:active ~ p.perm{
    transition:  background-color 5s;
    transition: color 5s;
  }

}
.border{
  border:3px solid #C29D5B;
  width: 92%;
  margin: 4% auto;
  height: 88vh;
  position: relative;
  display: table;
}
#contenido{
  // ../images/fondo_azul_espiral.png
  background-image: url('../images/fondo_azul_espiral.png');
  // border:3px solid #C29D5B;
  width: 100%;
  // margin: 4% auto;
  height: 100vh;
  position: fixed;
  // display: table;
  background-size: 100% 100%;
  padding: 5em;
  max-height: 650px;
  max-width: 962px;
}
div[class$="splash"] {
  background-image: url('../images/barraLibre_index.jpg');
  // border:3px solid #C29D5B;
  width: 100%;
  // margin: 4% auto;
  height: 116vh;
  position: relative;
  background-size: cover;
  padding: 5em;
  top: -5.5rem
}
div[class$="monto"] {
  background-image: url('../images/Fondo-A.jpg');
  // border:3px solid #C29D5B;
  width: 100%;
  // margin: 4% auto;
  height: 100vh;
  position: relative;
  display: table;
  background-size: 100% 100%;

}
body[class$="change"] {
  background-image: url('../images/06_fondoAzul_completo.jpg');
  // border:3px solid #C29D5B;
  width: 100%;
  // margin: 4% auto;
  height: 100vh;
  position: relative;
  display: table;
  background-size: 100% 100%;
  padding: 5em;
}
div[class$="tarjeta"] {
  background-image: url('../images/06_fondoAzul_completo.jpg');
  // border:3px solid #C29D5B;
  width: 100%;
  // margin: 4% auto;
  height: 100vh;
  position: relative;
  display: table;
  background-size: 100% 100%;
  padding: 5em;
}
div[class$="carga"] {
  background-image: url('../images/06_fondoAzul_completo.jpg');
  // border:3px solid #C29D5B;
  width: 118%;
  // margin: 4% auto;
  height: 100vh;
  position: relative;
  background-size: 112% 100.2%;
  padding: 5em;
  top:-23%;
  left:-12%;
}
div[class$="resumenPedido"] {
  background-image: url('../images/11_fondo_coctel.jpg');
  // border:3px solid #C29D5B;
  width: 100%;
  // margin: 4% auto;
  height: 107vw;
  position: absolute;
  background-size: 100% 56%;
  left: 0%;
  top: 0%;

}
body[class$="endCompra"]{
  background-image: url('../images/12_fondo_copas_B.jpg');
  // border:3px solid #C29D5B;
  width: 154%;
  // margin: 4% auto;
  height: 100vh;
  position: relative;
  margin-top:-10%;
  background-size:100% 100%;
  background-repeat: no-repeat;
  margin-left:-10%;
  // padding: 5em;
}
div[class$="endRecarga"]{
  background-image: url('../images/end-recarga.png');
  // border:3px solid #C29D5B;
  width: 134%;
  // margin: 4% auto;
  height: 100vh;
  position: relative;
  margin-top:-0%;
  background-size:93% 100%;
  background-repeat: no-repeat;
  margin-left:0%;
  // padding: 5em;
}
#app {
  height: 100%;
}

main {
  height: 100%;
  padding: 3em 6em;
  text-align: center;
  background: white;
  overflow: auto;

  
}

h1 {
  font-weight: normal;
  font-size: 3.75em;
  border-bottom: 1px solid #C29D5B;
  width: 30%;
}

.tarjeta-box{
  background: url("../images/Onda-Visa-Rectangular-A.gif");
  color:white;
  margin-top: 20%;
  text-align: center;
  background-size:contain;
  width:100%;
  height:108%;
  margin-top: -1rem;
  background-repeat:no-repeat;
  button{
    background: transparent;
    color: white;
    border: 2px solid #C29D5B;
  }
}

@media screen and (max-width: 40em) {
  main {
    font-size: 80%;
  }

  h1 {
    padding-top: 1em;
    font-size: 2.5em;
  
  }
}

@import "normalize.css";
@import "variables";
@import "burger";
@import "checkbox";
@import "pages/left";
@import "pages/right";
@import "pages/splash";
@import "pages/registro";
@import "pages/compra";
@import "pages/cambio";
@import "modal";
